* {
  border-radius: 0 !important;
}
.quest-border {
  border-color: #6610f2 !important;
}

.quest-header {
  color: #6610f2 !important;
}

.text-option {
  color: #c48510 !important;
}

.btn-outline-option {
  background-color: white !important;
  border-color: #c48510 !important;
  color: #c48510;
}

.btn-outline-option:hover {
  background-color: #c48510 !important;
  border-color: #c48510 !important;
  color: white;
}

.btn-xs {
  padding: 2px 4px !important;
  font-size: 11px !important;
}

.border-option {
  border-color: #c48510 !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
